name: CI

on: [pull_request, push]

jobs:
  SwiftFormat:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install SwiftFormat
        run: brew install swiftformat
      - name: Lint
        run: swiftformat --lint .

  macOS:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v2
      - name: Test target
        run: swift test -v --enable-code-coverage
      - name: Process coverage report
        run: >
          xcrun llvm-cov show
          .build/x86_64-apple-macosx/debug/LitPackageTests.xctest/Contents/MacOS/LitPackageTests
          --instr-profile=.build/x86_64-apple-macosx/debug/codecov/default.profdata
          --ignore-filename-regex=".build|Tests"
          > coverage.txt
      - name: Upload coverage report
        run: bash <(curl -s https://codecov.io/bash)

  Linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: YOCKOW/Action-setup-swift@v1.1.0
      - name: Test target
        run: swift test -v --enable-code-coverage
      - name: Process coverage report
        run: >
          llvm-cov show
          .build/x86_64-unknown-linux/debug/LitPackageTests.xctest/Contents/MacOS/LitPackageTests
          --instr-profile=.build/x86_64-unknown-linux/debug/codecov/default.profdata
          --ignore-filename-regex=".build|Tests"
          > coverage.txt
      - name: Upload coverage report
        run: bash <(curl -s https://codecov.io/bash)
